:root {
  --yellow: #ffee10;
  --yellow-alt: #ffd700;
  --white: #ffffff;
  --blue: #05a1b3;
  --dark: #0a192f;

  // FONT FAMILY
  --ff-poppins: 'Poppins', sans-serif;
  --ff-convergence: 'Convergence', sans-serif;
  --ff-laBelleAurore: 'La Belle Aurore', cursive;

  --fw-light: 400;
  --fw-normal: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}
